.profile__name-button {
    display: flex;
    width: 336px;
    justify-content: space-between;
}

@media screen and (max-width: 750px) {
    .profile__name-button {
        align-self: center;
    }
}

@media screen and (max-width: 500px) {
    .profile__name-button {
        width: 282px;
        justify-content: center;
    }
}
