.profile {
    display: grid;
    max-width: 880px;
    /*width: 100%;*/
    margin: 40px auto 0 auto;
    grid-template-columns: 120px 336px auto;

}

@media screen and (max-width: 920px) {
    .profile {
        padding: 0 19px 0 19px;
    
    }
}
@media screen and (max-width: 750px) {
    .profile {
    
        grid-template-columns: auto;
    }
}

