.popup__button {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 18px;
    line-height: 22px;
    margin: 48px auto 0 auto;
    color: white;
    border: 0;
    border-radius: 2px;
    background-color: black;
    cursor: pointer;
    transition: opacity 0.3s ease-out;
}

.popup__button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 600px) {
    .popup__button {
      margin-top: 45px;
      height: 46px;
      font-size: 14px;
      line-height: 17px;
    }
  }
