.profile__add-button {
    width: 150px;
    height: 50px;
    background-image: url("../../../images/add-button.svg");
    border: none;
    background-color: #000000;
    grid-column: 3;
    justify-self: end;
    align-self: center;
}

@media screen and (max-width: 750px) {
    .profile__add-button {
        grid-column: 1;
        grid-row: 3;
        width: 282px;
        background-image: url("../../../images/add-button-mobile.svg");
        justify-self: center;
    }
}