.profile__content {
    margin: 10px 0 0 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 750px) {
    .profile__content {
        align-self: center;

    }
}

@media screen and (max-width: 500px) {
    .profile__content {
        margin: 9px auto 0;
        font-size: 14px;
        line-height: 17px;
        max-width: 282px;
        width: 100%;
        text-align: center;
    }
}