.popup-add__field {
  width: 100%;
  padding: 0;
  font-size: 14px;
  line-height: 17px;
  margin-top: 26px;
  height: 27px;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  background-color: transparent;

}

.popup-add__field:first-child {
  margin-top: 0;
}
