@import url(../vendor/normalize.css);
@import url(../vendor/fonts/Inter/inter.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__line/header__line.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name-button/profile__name-button.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__content/profile__content.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__grid/cards__grid.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__pic/card__pic.css);
@import url(../blocks/card/__content/card__content.css);
@import url(../blocks/card/__title/card__title.css);
@import url(../blocks/card/__like/card__like.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__content/footer__content.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__content-fields/popup__content-fields.css);
@import url(../blocks/popup/__field/popup__field.css);
@import url(../blocks/popup/__save/popup__save.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/__description/popup__description.css);
@import url(../blocks/popup/__pic/popup__pic.css);
@import url(../blocks/popup/_type/popup_type_image.css);
@import url(../blocks/card/__delete/card__delete.css);
@import url(../blocks/card/__like/_active/card__like_active.css);
@import url(../blocks/popup/__image-container/popup__image-container.css);



/*@import url(../blocks/popup-add/popup-add.css);
@import url(../blocks/popup-add/_opened/popup-add_opened.css);
@import url(../blocks/popup-add/__container/popup-add__container.css);
@import url(../blocks/popup-add/__close/popup-add__close.css);
@import url(../blocks/popup-add/__title/popup-add__title.css);
@import url(../blocks/popup-add/__content-fields/popup-add__content-fields.css);
@import url(../blocks/popup-add/__field/popup-add__field.css);
@import url(../blocks/popup-add/__create/popup-add__create.css);

@import url(../blocks/popup-image/popup-image.css);
@import url(../blocks/popup-image/_opened/popup-image_opened.css);
@import url(../blocks/popup-image/__close/popup-image__close.css);
@import url(../blocks/popup-image/__container/popup-image__container.css);
@import url(../blocks/popup-image/__pic/popup-image__pic.css);
@import url(../blocks/popup-image/__title/popup-image__title.css);*/
