.profile__info {
   
    width: 366px;
    grid-column: 2;
    margin-left: 30px;
    align-self: center;
}

@media screen and (max-width: 750px) {
    .profile__info {
        width: 282px;
        grid-column: 1;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        justify-self: center;
        justify-content: center;
        margin-top: 26px;
        
    }
}