.cards__grid {
    display: grid;
    margin: 0;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    column-gap: 17px;
    row-gap: 20px;
}

@media screen and (max-width: 920px) {
    .cards__grid {
        padding: 0 19px 0 19px;
    }
}